
.bg-gray{
  background-color: rgb(165, 165, 165);
}

.text-tomato{
  color: tomato;
}

.box{
  margin: 30px;
  background-color: rgba(224, 224, 224);
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0);
}

.title{
  font-size: 45px;
}

.message-box{
  height: 80%;
  width: 95%;
  overflow: auto;
  background: #ddd;
}